<main id="contents">
	<ul class="postList">
		<% page.posts.forEach(function(item) { %>
		<li>
			<article class="entry">
			<a href="<%- url_for(item.path) %>"><%- item.title %></a>
			<div class="date"><%- item.date.format('MMM DD, YYYY') %></div>
			</article>
		</li>
		<% }) %>
	</ul>
</main>
<div id="paginator">
	<div id="indicator">Page <%= page.current %>, Total <%= page.total %>.</div>
	<div id="paginator-controls">
	<% if(page.prev !== 0) { %>
	<a class="button outlined" href="<%- url_for(page.prev_link) %>">PREV</a>
	<% } %>
	<% if(page.next !== 0) { %>
	<a class="button outlined" href="<%- url_for(page.next_link) %>">NEXT</a>
	<% } %>
	</div>
</div>
