<!doctype html>
<html lang='<%= config.language %>'>
	<%- partial('partial/head') %>
	<body>
		<%- partial('partial/drawer') %>
		<div id='container'>
			<div id='wrapper'>
				<%- partial('partial/header') %>
				<%- body %>
			</div>
		</div>
	</body>
	<script src="<%- url_for('subway/js/navigation.js') %>"></script>
	<script src="<%- url_for('subway/js/anchor.js') %>"></script>
	<% if(is_post() || is_page()) { %>
		<script src="<%- url_for('subway/js/copyCode.js') %>"></script>
	<% } %>
</html>
