<aside id="drawer">
	<header id="drawerHeader" class="prepared">
		<h1 class="title">
			<%= config.title %>
		</h1>
		<div class="separator"></div>
		<button id="navigationQuit">
			<div class="bar"></div>
			<div class="bar"></div>
		</button>
	</header>
	<nav id="navigation" class="prepared">
		<ul id="siteLinks">
			<% theme.links.forEach(item => { %>
			<li><a href="<%- item.href %>"<% if(item.external) { %> target="_blank"<% } %>><%- item.name %></a></li>
			<% }) %>
		</ul>
		<ul id="notes">
			<% theme.notes.forEach(item => { %>
			<li><a <% if(item.href) { %>href="<%- item.href %>"<% } %><% if(item.external) { %> target="_blank"<% } %>><%- item.content %></a><% if(item !== theme.notes[theme.notes.length - 1]) { %> | <% } _%></li>
			<% }) %>
		</ul>
	</nav>
</aside>
