<head>
	<title>
		<% if(is_home()) { %>
			<%= config.title %>
			<% if(config.subtitle !== '') { %>
				| <%= config.subtitle %>
			<% } %>
		<% } else { %>
			<%= page.title %> | <%= config.title %>
		<% } %>
	</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>

	<link rel="stylesheet" href="<%= url_for('subway/css/base.css') %>"/>
	<link rel="stylesheet" href="<%= url_for('subway/css/dark.css') %>"/>
	<% if(is_home()) { %>
	<link rel="stylesheet" href="<%= url_for('subway/css/index.css') %>"/>
	<% } else if(is_post() || is_page()) { %>
	<link rel="stylesheet" href="<%= url_for('subway/css/post.css') %>"/>
	<% } %>

	<link rel="prefetch" href="<%= url_for('subway/js/navigation.js') %>"/>
	<link rel="prefetch" href="<%= url_for('subway/js/anchor.js') %>"/>
	<% if(is_post() || is_page()) { %>
	<link rel="prefetch" href="<%= url_for('subway/js/copyCode.js') %>"/>
	<% } %>
</head>
